

<div class="row align justify-content-center">
  <div class="col-6 flex-column d-flex align-items-center">
    <h1 class="my-5">OUR MENU PRICING</h1>
    <p class="flip">
      <span class="deg1"></span><span class="deg2"></span
      ><span class="deg3"></span>
    </p>
    <p class="my-5 text-secondary">
      A long time ago, in a galaxy far far away...OUR MENU PRICING, behind the
      word mountains, far from the countries Vokalia and Consonantia, there live
      the blind texts.
    </p>
    <p>Ordina per prezzo:</p>
    <button class="btn myBtn">Crescente</button>
    <button class="btn myBtn">Derescente</button>
  </div>
</div>

<div class="row justify-content-evenly flex-wrap">

  <div class="col-lg-5 flex-wrap py-3" *ngFor="let pizza of pizze">
    <div class="d-flex justify-content-between mx-3">
      <div class="col-1 col-lg-2 me-4">
        <div class="h-100">
          <div class="bg-list" style="background-image: url({{pizza.image}});"></div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex text">
          <h3 class="m-0 ms-1 me-4 fs-3">{{pizza.title}}</h3>
          <p class="text-warning m-0 mt-1 ms-auto"> € {{pizza.price}}</p>
        </div>
        <p class="my-2">{{pizza.ingredients}}</p>
      </div>
    </div>
  </div>

</div>
