

<div class="row align justify-content-center">
  <div class="col-6 flex-column d-flex align-items-center">
    <h1 class="my-5 text-center">OUR MENU PRICING</h1>
    <p class="flip">
      <span class="deg1"></span><span class="deg2"></span
      ><span class="deg3"></span>
    </p>
    <p class="my-5 text-secondary"> Per comprare le nostre pizze consigliamo di fare il finanziamento Per Merito.</p>

    <div class="row d-flex align-items-center my-5">
      <div class="col-12 col-lg-6">
      <p class="m-3 m-lg-0 text-center">Ordina per prezzo:</p>
    </div>
    <div class="col-12 col-lg-6 btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn myBtn orderBtn" (click)="discendente()">Crescente</button>
      <button type="button" class="btn myBtn orderBtn" (click)="ascendente()">Decrescente</button>
    </div>
    </div>

    <div class="row my-5 d-flex align-items-center">
      <div class="col-12 col-lg-4">
        <p class="m-3 m-lg-0 text-center">Filtra per disponibilità</p>
      </div>
      <div class="col-12 col-lg-8">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline myBtn orderBtn" (click)="ngOnInit()">Tutte</button>
          <button type="button" class="btn btn-outline myBtn orderBtn" (click)="disponibili()">Disponibili</button>
          <button type="button" class="btn btn-outline myBtn orderBtn" (click)="nonDisponibili()">Non Disponibili</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">

  <div class="col-12 col-lg-6 flex-wrap py-3" *ngFor="let pizza of pizze">
    <div class="row">
      <div class="col-2 me-4">
          <div class="bg-list" style="background-image: url({{pizza.image}});"></div>

      </div>
      <div class="col">
        <div class="d-flex text">
          <h3 class="m-0 ms-1 me-4 fs-3">{{pizza.title}}</h3>
          <p class="text-warning m-0 mt-1 ms-auto"> € {{pizza.price}}</p>
        </div>
        <p class="my-2">{{pizza.ingredients}}</p>
        <span [ngClass]="pizza.disponibile ? 'badge text-bg-success' : 'badge text-bg-danger' ">{{ pizza.disponibile ? 'Disponibile' : 'Non disponibile'}}</span>
      </div>
    </div>
  </div>

</div>
