<div class="container-fluid" id="container">
  <div class="row p-3">
    <div class="col-12 col-md-4 p-0">
      <img class="w-100" src="https://images.unsplash.com/photo-1590846406792-0adc7f938f1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=685&q=80" alt="">
    </div>
    <div class="col-12 col-md-8">
      <div class="row p-4">
        <div class="col-12 col-md-2 p-1">
          <a href="" class="fd-menu text-decoration-none">Pizza</a>
        </div>
        <div class="col-12 col-md-2 p-1">
          <a href="" class="fd-menu text-decoration-none">Pizza</a>
        </div>
        <div class="col-12 col-md-2 p-1">
          <a href="" class="fd-menu text-decoration-none">Pizza</a>
        </div>
        <div class="col-12 col-md-2 p-1">
          <a href="" class="fd-menu text-decoration-none">Pizza</a>
        </div>
      </div>

      <div class="row p-3 mt-5">
        <div class="col-12 col-md-4 text-center p-4" *ngFor="let pizza of pizze | slice:0:3">
          <img class="img-fluid" src={{pizza.image}} alt="">
          <h3 class="text-white mt-3">{{pizza.title}}</h3>
          <p class="text-secondary">{{pizza.ingredients}}</p>
          <p class="price">€ {{pizza.price}}</p>
          <button class="btn btn-outline-light fd-btn">Add to cart</button>
        </div>
      </div>
    </div>



</div>
