<div class="background">
  <div class="container ">
    <div class="row">
      <div class="col-2"></div>

      <div class="col-8 text-center text-light">
        <h2 class="my-4">Read our blog</h2>
        <p class="flip">
          <span class="deg1"></span>
          <span class="deg2"></span>
          <span class="deg3"></span>
        </p>
        <p class="mt-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="col-2"></div>
    </div>

    <div class="row mt-2">
      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top rounded"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="bg-transparent card text-light border-0 p-3 my-3">
          <img
            class="card-img-top"
            src="../../../assets/pizza.jpg"
            alt="Title"
          />
          <div class="card-body">
            <div class="card-subtitle text-secondary">10/01/2023</div>
            <h4 class="card-title">Pizza</h4>
            <p class="card-text">Content bla bla bla</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
