<section class="d-flex justify-content-center">
  <div class="container-fluid d-flex flex-column align-items-center">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center">
        <h2 class="mt-5 mb-4">OUR SERVICES</h2>
        <p class="px-5 px-md-0">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center col-8">
      <div class="col-lg-4 mb-5 px-3">
        <div class="d-flex flex-column align-items-center text-center">
          <div
            class="animazione justify-content-center align-items-center mb-5"
          >
            <div
              class="d-flex justify-content-center align-items-center h-100 annullo"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-activity"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"
                />
              </svg>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">HEALTHY FOODS</h3>
            <p class="px-4">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 px-3">
        <div class="d-flex flex-column align-items-center text-center">
          <div
            class="animazione d-flex justify-content-center align-items-center mb-5"
          >
            <div
              class="d-flex justify-content-center align-items-center h-100 annullo"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-bicycle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"
                />
              </svg>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">FASTEST DELIVERY</h3>
            <p class="px-4">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 px-3">
        <div class="d-flex flex-column align-items-center text-center">
          <div
            class="animazione d-flex justify-content-center align-items-center mb-5"
          >
            <div
              class="d-flex justify-content-center align-items-center h-100 annullo"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-egg-fried"
                viewBox="0 0 16 16"
              >
                <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path
                  d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"
                />
              </svg>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">ORIGINAL RECIPES</h3>
            <p class="px-4">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
