<div class="header-contenitor">
  <div class="wrap-contenitor">

    <app-navbar></app-navbar>

    <div class="main-header mx-auto">

        <p class="secondary-color special-p">Welcome</p>
        <p class="slogan text-uppercase my-3">Pizza + Passione + Charles De Ketelaere = Un'esperienza da campioni!</p>
        <p>
          Charles De Ketelaere è un giovane talento del calcio belga, nato il 10 novembre 2001 a Knokke-Heist, in Belgio. È conosciuto per la sua versatilità, in grado di giocare come centrocampista o difensore. De Ketelaere ha dimostrato una grande promessa fin da giovane, attirando l'attenzione dei talent scout grazie alle sue abilità tecniche e alla sua intelligenza tattica.
        </p>
        <div class="button-container">
          <button>order now</button>
          <button>view menu</button>
        </div>
      </div>


  </div>
</div>
