/* You can add global styles to this file, and also import other style files */
$primary-color: #262626;
$secondary-color: #fac564;

/* You can add global styles to this file, and also import other style files /
$primary-color: #262626;
$secondary-color: #BA041A;


/ Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
