
<div class="container">

  <div class="row">
    <h2 class="text-center">Modifica Pasta</h2>
    <div class="col-6">

      <form #f="ngForm">

        <label for="titolo">Nome Pasta:</label>
        <input class="form-control" placeholder="" type="text" required [(ngModel)]="pasta.name" name="title">

        <label for="prezzo">Prezzo:</label>
        <input class="form-control" placeholder="" type="number" required [(ngModel)]="pasta.price" name="price">

        <label for="ingredienti">Ingredienti:</label>
        <input class="form-control" placeholder="" type="text" required [(ngModel)]="pasta.ingredients" name="ingredients">

        <label for="immagine">Immagine:</label>
        <input class="form-control" placeholder="" type="text" required [(ngModel)]="pasta.image" name="image">

        <label for="immagine">Disponibilità:</label>
        <select name="disponibile" ngModel class="form-control" [(ngModel)]="pasta.disponibile">
          <option [ngValue]="true" >Disponibile</option>
          <option [ngValue]="false" >Non Disponibile</option>
        </select>

        <button class="btn btn-primary" (click)="modifica()">Conferma</button>
      </form>
    </div>
  </div>
</div>
